<div class="transactions">
  {{#each this}}
  <section class="transaction">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{transaction_text}}
    </div>
  </section>
  {{/each}}
</div>