<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  
<h3>Add New Transaction</h3>
<form class="transaction-form">
  <div class="form-control">
          <label for="text"></label>
          <input name="transaction-text" type="text" id="text" placeholder="Enter a transaction" />
        </div>
        <div class="form-control">
          <label for="amount">
             <br />
            </label>
          <input name="transaction-amount" type="number" id="amount" placeholder="Enter amount..." />
        </div>

<br>
  <div>
    <button type="submit">add transaction</button>
  </div>
</form>
<br>
</article>


<script src="/javascript/transaction.js"></script>